* {
	margin: 0; 
	padding: 0;
}

body {
	background-color: #000;
}

#canvas {
	display: block;
	background-image: url("img/candle.jpg");
	background-size: 600px;
	background-position: 50% 54%;
	background-repeat: no-repeat;
}
.info {
	position: fixed;
	margin-left: -170px;
	width: 300px;
	color: white;
	padding: 20px;
	border-radius: 10px 10px 0px 0px;
	font-family: "Roboto";
	font-size: 1.5em;
	text-align: center;
	bottom: 20px; right: 20px;
}